[submodule "BetterSongList"]
	path = BetterSongList
	url = https://github.com/kinsi55/BeatSaber_BetterSongList.git
[submodule "BetterSort.LastPlayed.Test/assert.xunit"]
	path = BetterSort.LastPlayed.Test/assert.xunit
	url = https://github.com/xunit/assert.xunit.git
